.card-footer {
	background: #ecf0f1;
	border-color: #e6eaec;
	text-align: right;
	border-radius: 0 0 5px 5px;
}

.card-footer .btn {
    color: #fff;
    border-radius: 4px;
	transition: all 0.4s;
    border: none;
    padding: 8px 20px;
    min-width: 85px;
    outline: none !important;
}

.card-footer .btn-primary {
    // background: #4682b4;
    margin-right: -5.3px;
}

.card-footer .btn-info {
    background: #92a9af;
}

.card-footer .btn-danger {
    // background: #ee3535;
}

.card-footer .btn + .btn {
	margin-left: 10px;
}