.modal-confirm {		
		color: #636363;
		width: 550px;
}

.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;        
}

.modal-confirm .modal-header {
    padding: 0 15px;
	border-bottom: none;   
    position: relative;
}

.modal-confirm h4 {
    display: inline-block;
	font-size: 26px;
}

.modal-confirm .close {
    position: absolute;
	top: -5px;
	right: -5px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
	background: #ecf0f1;
	border-color: #e6eaec;
	text-align: right;
	margin: 0 -20px -20px;
	border-radius: 0 0 5px 5px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
	transition: all 0.4s;
    border: none;
    padding: 8px 20px;
    min-width: 85px;
    outline: none !important;
}

.modal-confirm .btn-info {
    background: #92a9af;
}

.modal-confirm .btn-danger {
    background: #ee3535;
}

.modal-confirm .modal-footer .btn + .btn {
	margin-left: 10px;
}