
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');


// Variables
@import 'variables';
$fa-font-path:"../webfonts";
// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Toastr
@import "~toastr/toastr";


// Select2
@import "node_modules/select2/dist/css/select2";


// DatatableEmpty
.dataTables_empty{
   text-align: center;
}


// intl-tel-input
.intl-tel-input{
   width: 100%;
}
 

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


body { 
	padding-right: 0 !important;
	font-family: 'Varela Round', sans-serif;
}


@import "common/modal";
@import "common/card-footer";


.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}